fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt
pytz

opencv-python
numpy<2
pandas
Pillow

ultralytics
easyocr

openpyxl
reportlab

python-dotenv

httpx
websockets

pytest